<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="/public/assets/css/login.css" />
  <link rel="stylesheet" href="/public/assets/css/paginas/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Slowfu - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Gostaria de fazer um post?</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <img src="/public/imagens/favicon2.png" alt="Slowfu" />
          </div>
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav nav-2">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
            <li class="item-menu-login"> <a href="login">Gostaria de fazer um post?</a></li>
            <li class="item-menu-login"><a href="posts">Meu Perfil</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoinicioHome">
      <div class="box-text-banner-home">
        <p><span>Rede social para pequenos produtores</span></p>
        <h1 class="box-title-banner" style="--duration: 1s">
          <span style="--delay: .5s">SlowFu</span>
          <span style="--delay: .8s">Policultura Familiar</span>
        </h1>
        <p>Conectando-o a um fornecedor orgânico perto de você.</p>
        <div class="box-btn-banner">
          <a href="login">Cadastre-se Já</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="flex">
        <div class="box-100">
          <div class="box-title-padrao-home text-center">
            <h2>Confira as Principais Postagens</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- <div class="box-bg-postagens">
        <div class="flex">
          <div class="box-40">
            <div class="box-img-post">
              <img class="img-responsive" src="/public/imagens/postagens/post-2.jpg" alt="Postagem 1">
            </div>
          </div>
          <div class="box-60">
            <div class="box-content-post">
              <h3>Lorem Ipsum</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cupiditate sit earum repellendus
                quaerat quas autem odio aspernatur dolorem quibusdam doloremque sequi id consequuntur repellat,
                alias
                aliquid laboriosam at dignissimos.</p>
              <ul class="btn-post">
                <li class="item-menu-login"><a href="tel:+5511999999999"><i class="fa-solid fa-phone"></i> LIGAR</a></li>
                <li class="item-menu-login"><a href="tel:+5511999999999">VER ANÚNCIO</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <% for (let i = 0; posts.length > i; i++){ %>
        <div class="box-bg-postagens">
          <div class="flex">
            <div class="box-40">
              <div class="box-img-post">
                <img class="img-responsive" src="/public/imagens/postagens/post-1.jpg" alt="Postagem 1">
              </div>
            </div>
            <div class="box-60">
              <div class="box-content-post">
                <h3><%= posts[i].titulo %></h3>
                <p><%= posts[i].descricao %></p>
                <ul class="btn-post">
                  <li class="item-menu-login"><a href="tel:+55<%= posts[i].telefone %>"><i class="fa-solid fa-phone"></i> <%= posts[i].telefone %></a></li>
                  <li class="item-menu-login"><a href="tel:+55<%= posts[i].whatsapp %>"><%= posts[i].whatsapp %></a></li>
                </ul>
              </div>
            </div>
          </div>              
        </div>       
      <% } %>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="#home">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>